# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.metadata/
/logs/
/target/
.settings
.git
.classpath
*.class
*.log
*.project
*.iml
.idea
*.log
# BlueJ files
*.ctxt

/dooleen-service-smart-bi/
/dooleen-service-data-visual/
/dooleen-service-smart-report/